.navbar-dark .navbar-brand {
    color: #61dafb;
    font-size: 34px;
    font-weight: bold;
}
  
.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.75);
}
  
.navbar-dark .navbar-nav .nav-link:hover {
    color: #ffffff;
}

.nav-link {
    padding: 10px 15px;
    font-size: 24px;
}